/* Set variable is template */

$cyan: #01d2ff;
$white: #ffffff;
$gray: #6c757d;
$gray-dark: #23262b;
$dark: #000000;
$body-color: #17191a;
$shadow: #01d2ff38;
$font-sans-serif: "Kanit", sans-serif;
$font-weight-default: 300;
