@import "../../../styles/variables";

.community-image-content {
  margin: 45px;
  img {
    width: 90%;
    max-width: 300px;
  }
}
.detail-content {
  .title {
    font-size: 31px;
    line-height: 46px;
  }
  .description {
    font-size: 18px;
    line-height: 23px;
    padding: 0px 70px;
    font-weight: 200;
  }
}

